.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  left: -100%;
  top:0;
  transition: 850ms;
  background: #354052;
  color: #adbdb0;
  transition: all 0.5s;
  z-index: 1;
  padding: 1rem;
}

.sidebar.is-open {
  left: 0;
  transition: 350ms;
}
.sidebar-header{
  margin-top: 50px;
}

.admindashboardmain.is-open{
  margin-left: 20%;
}

@media only screen and (max-width: 575.98px) {
  .admindashboardmain.is-open{
    margin-left: 0%;
  }

  .sidebar {
    width: 40%;
  }
  
  
}

